{{define "title"}}
<title>GoPDF Invoice Geneator - Tenants</title>
{{end}}

{{define "body"}}
<div class="container content">
    <h2 class="subtitle is-uppercase is-size-6">All tenants</h2>
    <hr>
    <div class="column">
        <b>List of tenants</b>
        <ul>
            {{range .ExtractedKeys}}
            <li><a href="/{{.Entity}}/{{.Id}}/">{{.CompositeKey}}</a></li>
            {{end}}
        </ul>
    </div>

    <div class="column">
        <b>New Tenant</b>
        {{template "form_body" .}}
    </div>
</div>
{{end}}
