{{define "title"}}
<title> {{.Title}} </title>
{{end}}

{{define "body"}}
<div class="container content">
    <div class="columns">
        <div class="column">
            <p><b>List of invoices</b>
            <ul>
                {{range .Invoices}}
                <li><a href="/tenant/{{$.TenantId}}/{{.Id}}/">{{.CompositeKey}}</a></li>
                {{end}}
            </ul>
            </p>
        </div>
        <div class="column">
            <b>New Invoice</b>
            <form method="POST">
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input class="input" name="name" type="text" placeholder="e.g Alex Smith">
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link">Submit</button>
                    </div>
                    <div class="control">
                        <button class="button is-link is-light">Cancel</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
{{end}}
